n8n/ai-trader-workflow.json
{
  "name": "AI Day Trader — Main Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Schedule (Every 15 min)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// BUILD WATCHLIST & CHECK MARKET HOURS\n// Edit 'watchlist', 'timeframe', 'lookbackBars' as needed.\n// ============================================================\nconst watchlist = ['TSLA', 'NVDA', 'SPY'];\nconst timeframe = '5Min'; // 1Min | 5Min | 15Min | 1Hour\nconst lookbackBars = 50;\nconst newsItemsPerTicker = 5;\n\n// Market hours gate (Eastern Time, Mon-Fri 09:30-15:45)\nconst now = new Date();\nconst etStr = now.toLocaleString('en-US', { timeZone: 'America/New_York' });\nconst etTime = new Date(etStr);\nconst day = etTime.getDay(); // 0=Sun,6=Sat\nconst totalMin = etTime.getHours() * 60 + etTime.getMinutes();\nconst isOpen = day >= 1 && day <= 5 && totalMin >= 570 && totalMin <= 945;\n\nif (!isOpen) {\n  // Return empty — downstream nodes will have nothing to process\n  return [];\n}\n\nreturn watchlist.map(symbol => ({\n  json: { symbol, timeframe, lookbackBars, newsItemsPerTicker, runAt: now.toISOString() }\n}));"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "Build Watchlist",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "url": "=https://data.alpaca.markets/v2/stocks/{{ $json.symbol }}/bars",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "timeframe", "value": "={{ $json.timeframe }}" },
            { "name": "limit",     "value": "={{ $json.lookbackBars }}" },
            { "name": "adjustment","value": "raw" },
            { "name": "feed",      "value": "iex" }
          ]
        },
        "options": { "timeout": 10000 }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "Fetch OHLCV Bars",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 180],
      "credentials": {
        "httpHeaderAuth": { "name": "Alpaca API Keys" }
      }
    },
    {
      "parameters": {
        "url": "https://data.alpaca.markets/v1beta1/news",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "symbols", "value": "={{ $json.symbol }}" },
            { "name": "limit",   "value": "={{ $json.newsItemsPerTicker }}" },
            { "name": "sort",    "value": "desc" }
          ]
        },
        "options": { "timeout": 8000 }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "Fetch News",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 420],
      "credentials": {
        "httpHeaderAuth": { "name": "Alpaca API Keys" }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// MERGE BARS + NEWS  →  COMPUTE INDICATORS\n// Receives items from both Fetch Bars and Fetch News.\n// Groups by symbol, then computes SMA20 / EMA9 / RSI14 / MACD.\n// ============================================================\n\nfunction sma(values, period) {\n  const out = [];\n  for (let i = period - 1; i < values.length; i++) {\n    const sl = values.slice(i - period + 1, i + 1);\n    out.push(sl.reduce((a, b) => a + b, 0) / period);\n  }\n  return out;\n}\n\nfunction ema(values, period) {\n  if (values.length < period) return [];\n  const k = 2 / (period + 1);\n  let prev = values.slice(0, period).reduce((a, b) => a + b, 0) / period;\n  const out = [prev];\n  for (let i = period; i < values.length; i++) {\n    prev = values[i] * k + prev * (1 - k);\n    out.push(prev);\n  }\n  return out;\n}\n\nfunction rsi(closes, period) {\n  if (closes.length < period + 1) return [];\n  const gains = [], losses = [];\n  for (let i = 1; i < closes.length; i++) {\n    const d = closes[i] - closes[i - 1];\n    gains.push(d > 0 ? d : 0);\n    losses.push(d < 0 ? Math.abs(d) : 0);\n  }\n  let ag = gains.slice(0, period).reduce((a, b) => a + b, 0) / period;\n  let al = losses.slice(0, period).reduce((a, b) => a + b, 0) / period;\n  const out = [al === 0 ? 100 : 100 - 100 / (1 + ag / al)];\n  for (let i = period; i < gains.length; i++) {\n    ag = (ag * (period - 1) + gains[i]) / period;\n    al = (al * (period - 1) + losses[i]) / period;\n    out.push(al === 0 ? 100 : 100 - 100 / (1 + ag / al));\n  }\n  return out;\n}\n\nconst last = arr => arr[arr.length - 1];\nconst items = $input.all();\n\n// Each item comes from either the bars node or the news node.\n// Both carry $json.symbol from the watchlist run.\nconst bySymbol = {};\nfor (const item of items) {\n  const sym = item.json.symbol;\n  if (!bySymbol[sym]) bySymbol[sym] = { bars: [], news: [] };\n  if (item.json.bars)  bySymbol[sym].bars = item.json.bars;\n  if (item.json.news)  bySymbol[sym].news = item.json.news;\n}\n\nconst results = [];\nfor (const [symbol, data] of Object.entries(bySymbol)) {\n  const bars   = data.bars  || [];\n  const news   = data.news  || [];\n  if (bars.length === 0) continue;\n\n  const closes  = bars.map(b => b.c);\n  const sma20   = sma(closes, 20);\n  const ema9    = ema(closes, 9);\n  const rsi14   = rsi(closes, 14);\n  const fastEma = ema(closes, 12);\n  const slowEma = ema(closes, 26);\n  const offset  = 26 - 12;\n  const macdLine   = slowEma.map((v, i) => fastEma[i + offset] - v);\n  const macdSignal = ema(macdLine, 9);\n\n  const recentCandles = bars.slice(-10).map(b => ({\n    timestamp: b.t, open: b.o, high: b.h, low: b.l, close: b.c, volume: b.v\n  }));\n  const recentNews = news.slice(0, 3).map(n => ({\n    headline: n.headline, source: n.source, publishedAt: n.created_at\n  }));\n\n  results.push({ json: {\n    symbol,\n    currentPrice: last(closes),\n    recentCandles,\n    recentNews,\n    latestIndicators: {\n      sma20:      last(sma20)?.toFixed(2),\n      ema9:       last(ema9)?.toFixed(2),\n      rsi14:      last(rsi14)?.toFixed(1),\n      macd:       last(macdLine)?.toFixed(4),\n      macdSignal: last(macdSignal)?.toFixed(4)\n    }\n  }});\n}\n\nreturn results;"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000005",
      "name": "Compute Indicators",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 300]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// AGGREGATE CONTEXTS  →  BUILD LLM PROMPT PAYLOAD\n// Collects all ticker results into a single Anthropic API call.\n// ============================================================\nconst items   = $input.all();\nconst contexts = items.map(i => i.json);\n\nconst contextBlock = contexts.map(ctx => {\n  const ind = ctx.latestIndicators || {};\n  const candles = (ctx.recentCandles || []).slice(-5)\n    .map(c => `  ${(c.timestamp||'').substring(11,16)} O:${c.open?.toFixed(2)} H:${c.high?.toFixed(2)} L:${c.low?.toFixed(2)} C:${c.close?.toFixed(2)} V:${c.volume}`)\n    .join('\\n');\n  const newsLines = (ctx.recentNews || [])\n    .map(n => `  [${n.source}] ${n.headline}`)\n    .join('\\n') || '  No recent news.';\n\n  return `=== ${ctx.symbol} ===\\nPrice: $${ctx.currentPrice?.toFixed(2)}\\nSMA20: ${ind.sma20}  EMA9: ${ind.ema9}  RSI14: ${ind.rsi14}\\nMACD: ${ind.macd}  Signal: ${ind.macdSignal}\\nLast 5 candles:\\n${candles}\\nRecent news:\\n${newsLines}`;\n}).join('\\n\\n---\\n\\n');\n\nconst systemPrompt = `You are an expert intraday trader AI. RULES: no leverage, max 5% position size per ticker, always include stop-loss and take-profit, prefer HOLD when uncertain. Output ONLY valid JSON — no markdown, no extra text.`;\n\nconst userPrompt = `Analyze these ${contexts.length} tickers and return trading decisions.\\n\\n${contextBlock}\\n\\nRespond ONLY with this exact JSON schema:\\n{\"decisions\":[{\"symbol\":\"...\",\"action\":\"BUY|SELL|HOLD\",\"position_size_pct\":0-5,\"stop_loss_pct\":0.5-5,\"take_profit_pct\":0.5-10,\"confidence\":0-1,\"reason\":\"1-2 sentence rationale\"}]}`;\n\nreturn [{ json: {\n  contexts,\n  anthropicPayload: {\n    model:      $vars.LLM_MODEL  || 'claude-opus-4-6',\n    max_tokens: 2048,\n    temperature: 0.1,\n    system:   systemPrompt,\n    messages: [{ role: 'user', content: userPrompt }]\n  }\n}}];"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000006",
      "name": "Build LLM Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1160, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify($json.anthropicPayload) }}",
        "options": { "timeout": 30000 }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000007",
      "name": "LLM - Analyze Tickers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1400, 300],
      "credentials": {
        "httpHeaderAuth": { "name": "Anthropic API Key" }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// PARSE LLM RESPONSE  +  RISK VALIDATION\n// Only passes BUY/SELL decisions that meet confidence threshold.\n// ============================================================\nconst item = $input.first();\nconst rawText = item.json?.content?.[0]?.text || '{\"decisions\":[]}';\n\n// Strip markdown fences the model sometimes adds\nconst cleaned = rawText.replace(/```json\\s*/gi,'').replace(/```\\s*/g,'').trim();\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  console.error('LLM JSON parse error:', e.message);\n  console.error('Raw (first 300 chars):', rawText.substring(0,300));\n  return [];\n}\n\n// Risk thresholds — edit here or drive from n8n Variables\nconst MIN_CONFIDENCE  = parseFloat($vars.MIN_CONFIDENCE  || '0.65');\nconst MAX_POSITION_PCT = parseFloat($vars.MAX_POSITION_PCT || '5');\n\nconst results = [];\nfor (const d of (parsed.decisions || [])) {\n  const action     = (d.action || '').toUpperCase();\n  const confidence = Math.max(0, Math.min(1,  Number(d.confidence)        || 0));\n  const sizePct    = Math.max(0, Math.min(MAX_POSITION_PCT, Number(d.position_size_pct) || 0));\n  const slPct      = Math.max(0.1, Math.min(10, Number(d.stop_loss_pct)   || 1));\n  const tpPct      = Math.max(0.1, Math.min(20, Number(d.take_profit_pct) || 1));\n\n  if (!['BUY','SELL','HOLD'].includes(action)) { console.log(`SKIP ${d.symbol}: bad action`);   continue; }\n  if (action === 'HOLD')                        { console.log(`SKIP ${d.symbol}: HOLD`);          continue; }\n  if (confidence < MIN_CONFIDENCE)              { console.log(`SKIP ${d.symbol}: low confidence ${confidence}`); continue; }\n\n  results.push({ json: {\n    symbol:         d.symbol,\n    action,\n    confidence,\n    positionSizePct: sizePct,\n    stopLossPct:     slPct,\n    takeProfitPct:   tpPct,\n    reason:          (d.reason || '').substring(0, 300),\n    rawOutput:       rawText\n  }});\n}\n\nconsole.log(`[Risk] Actionable decisions: ${results.length}`);\nreturn results;"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000008",
      "name": "Risk Validation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1640, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.BACKEND_URL || 'http://localhost:3001' }}/api/trade-decisions",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ symbol: $json.symbol, action: $json.action, confidence: $json.confidence, positionSizePct: $json.positionSizePct, stopLossPct: $json.stopLossPct, takeProfitPct: $json.takeProfitPct, reason: $json.reason, rawContextJson: '{}', llmOutputJson: $json.rawOutput, riskCheckPassed: true }) }}",
        "options": { "timeout": 8000 }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000009",
      "name": "Store Decision",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1880, 180]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// BUILD ALPACA BRACKET ORDER PAYLOAD\n// Derives qty from equity % and current price.\n// ============================================================\nconst d = $json;\n\n// Fetch live equity from your backend /api/pnl, or use the fallback variable\nconst accountEquity = parseFloat($vars.ACCOUNT_EQUITY_FALLBACK || '100000');\nconst currentPrice  = parseFloat(d.currentPrice || 100);\nconst orderValue    = (d.positionSizePct / 100) * accountEquity;\nconst qty           = Math.floor(orderValue / currentPrice);\n\nif (qty <= 0) {\n  console.log(`[Order] ${d.symbol}: qty ${qty} too small — skipping`);\n  return [];\n}\n\nconst side = d.action === 'BUY' ? 'buy' : 'sell';\nconst stopPrice = side === 'buy'\n  ? currentPrice * (1 - d.stopLossPct   / 100)\n  : currentPrice * (1 + d.stopLossPct   / 100);\nconst tpPrice = side === 'buy'\n  ? currentPrice * (1 + d.takeProfitPct / 100)\n  : currentPrice * (1 - d.takeProfitPct / 100);\n\nreturn [{ json: {\n  ...d,\n  orderPayload: {\n    symbol:         d.symbol,\n    qty:            String(qty),\n    side,\n    type:           'market',\n    time_in_force:  'day',\n    order_class:    'bracket',\n    stop_loss:      { stop_price:  stopPrice.toFixed(2) },\n    take_profit:    { limit_price: tpPrice.toFixed(2)   }\n  }\n}}];"
      },
      "id": "a1b2c3d4-0001-0001-0001-00000000000a",
      "name": "Build Order",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1880, 420]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://paper-api.alpaca.markets/v2/orders",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify($json.orderPayload) }}",
        "options": { "timeout": 10000 }
      },
      "id": "a1b2c3d4-0001-0001-0001-00000000000b",
      "name": "Place Order (Alpaca Paper)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2120, 420],
      "credentials": {
        "httpHeaderAuth": { "name": "Alpaca API Keys" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.BACKEND_URL || 'http://localhost:3001' }}/api/trades",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ symbol: $json.symbol, side: $json.orderPayload.side, qty: $json.orderPayload.qty, entryPrice: $json.currentPrice, stopLoss: $json.orderPayload.stop_loss.stop_price, takeProfit: $json.orderPayload.take_profit.limit_price, brokerId: $json.id, isPaper: true, status: 'submitted' }) }}",
        "options": { "timeout": 8000 }
      },
      "id": "a1b2c3d4-0001-0001-0001-00000000000c",
      "name": "Store Trade",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2360, 420]
    }
  ],
  "connections": {
    "Schedule (Every 15 min)": {
      "main": [[{ "node": "Build Watchlist", "type": "main", "index": 0 }]]
    },
    "Build Watchlist": {
      "main": [[
        { "node": "Fetch OHLCV Bars", "type": "main", "index": 0 },
        { "node": "Fetch News",       "type": "main", "index": 0 }
      ]]
    },
    "Fetch OHLCV Bars": {
      "main": [[{ "node": "Compute Indicators", "type": "main", "index": 0 }]]
    },
    "Fetch News": {
      "main": [[{ "node": "Compute Indicators", "type": "main", "index": 0 }]]
    },
    "Compute Indicators": {
      "main": [[{ "node": "Build LLM Prompt", "type": "main", "index": 0 }]]
    },
    "Build LLM Prompt": {
      "main": [[{ "node": "LLM - Analyze Tickers", "type": "main", "index": 0 }]]
    },
    "LLM - Analyze Tickers": {
      "main": [[{ "node": "Risk Validation", "type": "main", "index": 0 }]]
    },
    "Risk Validation": {
      "main": [[
        { "node": "Store Decision", "type": "main", "index": 0 },
        { "node": "Build Order",    "type": "main", "index": 0 }
      ]]
    },
    "Build Order": {
      "main": [[{ "node": "Place Order (Alpaca Paper)", "type": "main", "index": 0 }]]
    },
    "Place Order (Alpaca Paper)": {
      "main": [[{ "node": "Store Trade", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [{ "name": "ai-trader" }, { "name": "alpaca" }, { "name": "stocks" }],
  "pinData": {}
}
